{% extends 'base.html' %}
{% block content %}

<h1 class="board-head" style="background-color: #A0A083;">자유 게시판</h1>
{% if request.user.is_authenticated %}
    <button type="button" id="writePostButton" class="board-write-btn" onclick = "location.href = 'new_post/?board_type=free_board'">글쓰기</button>
{% else %}
    <span class="board-write-btn" onClick="goToLogin('{% url 'accounts_app:login' %}')">로그인이 필요합니다.</span>
{% endif %}
<div class="board-table">
    <table>
    {% for post in posts %}
    <tbody>
        <tr onClick="goToBoard('{{post.pk}}/')">
            <!--<th>{{post.board_type}}</th>-->
            <td id="board-id">{{ post.id }}</td>
            <td id="board-photo">{{post.mainphotos}}</td>
            <td id="board-postname">{{post.postname}}</td>
            <td id="board-author">{{post.author}}</td>
        </tr>
    <tbody>
    {% endfor %}
    </table>
</div>

<script>
    // 버튼 클릭 시 동작
    document.getElementById("writePostButton").addEventListener("click", function() {
        // 서버에 요청 전에 먼저 로그인 상태를 확인
        fetch('/check_login_status/')
            .then(response => response.json())
            .then(data => {
                if (data.logged_in) {
                    // 로그인된 경우 글쓰기 페이지로 이동
                    window.location.href = "/new_post/?board_type=free_board";
                } else {
                    // 로그인되지 않은 경우 메시지 표시
                    alert("로그인이 필요합니다.");
                }
            });
    });

    function goToBoard(link) {
        window.location.href = link;
    }
    function goToLogin(link){
        window.location.href = link;
    }
</script>

{% endblock %}