<html>
<head>
    <title>Posting!</title>
</head>
<body>
    <h1>게시글 개별 페이지입니다</h1>
    <p>{{ post.postname }}</p>
    <p>{{ post.contents }}</p>
    <!-- 이미지 보여주기 -->
    {% for photo in post.photos.all %}
        <img src="{{ photo.image.url }}" alt="" height="300">
        <br>
    {% endfor %}

    <!-- 댓글 표시 -->
    <h2>댓글</h2>
    <ul>
        {% for comment in post.comments.all %}
            <li>{{ comment.author.username }} - {{ comment.content }}</li>
        {% empty %}
            <li>작성된 댓글이 없습니다.</li>
        {% endfor %}
    </ul>

    <!-- 댓글 작성 폼 -->
    <h3>댓글 작성하기</h3>
    <form method="post" action="{% url 'board_app:add_comment' post.id %}">
        {% csrf_token %}
        <textarea name="content"></textarea>
        <button type="submit">댓글 작성</button>
    </form>

    <br>
    <a href="/board/">목록</a>
    <a href="/board/{{ post.pk }}/remove">삭제</a>
    <a href="/board/{{ post.pk }}/edit">수정</a>
</body>
</html>
