/*google font import*/
.kaisei-decol-regular {
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
}

.kaisei-decol-bold {
  font-family: "Kaisei Decol", serif;
  font-weight: 700;
  font-style: normal;
}
/*나눔 명조*/
.nanum-myeongjo-regular {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-myeongjo-bold {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 700;
  font-style: normal;
}

:root {
  --accent-color: #32989a;
  --text-color: #424B54;
  --background-color: white;
}

.body {
font-family: 'Montserrat';
display: block;
width: 100%;
height: 100%;
min-width: 1340px;
}

li a {
text-decoration: none;
color: var(--text-color);
}

.navbar {
  display: block;
  background-color: var(--background-color);
  position: fixed; 
  width: 100%; /* 추가된 부분 */
  top: 0; /* 추가된 부분 */
  z-index: 9999; /* 추가된 부분 */
  min-width: 1200px;
  padding-top: 40px;
  border: 200px;
  border-bottom: 1px solid var(--text-color);
}

.nav_logo{
  position: absolute;
  display: inline-block;
  left:50px;
  top:30px;

}

.nav_logo a{
  color: var(--text-color);
  text-decoration: none;
}

.nav_menu {
  display: flex;
  justify-content: flex-end;
  width:99%;
  margin-top: 100px;
}

.nav_menu a {
  padding: 10px 12px;
  text-decoration: none;
  color: var(--text-color);
  margin-right: 15px;
  
}

.nav_menu a:last-child {
  margin-right: 0; /* 마지막 요소의 오른쪽 마진을 제거합니다. */
}

.nav_menu a:hover {
  color: var(--accent-color);
  border-radius: 4px;
}

.nav_menu #nav-hamburger{
  position: absolute;
  display: flex;
  cursor: pointer;
  left: 35px;
}

.nav_menu #nav-hamburger .submenu{
  top: 5px;
  margin-left: 50px;
}

.nav_menu #nav-hamburger .submenu:hover{
  color: var(--accent-color);
}

.dropdown-menu{ 
  display: inline-block;
  position: fixed; 
  top: 172px;
  width: 110px;
  height: 195px;
  left: 45px;
  z-index: 10;
  border: 1px solid #c9c9c9;
  background-color: var(--background-color);
  text-align: center;
  font-weight: bold;
  list-style: none;
  visibility: hidden;
}

.dropdown-menu.show {
  visibility: visible;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li{
  list-style: none;
}

.a.on{
  left:600px;
}

#li-note{
  margin-left: 300px;
}

.nav_icons {
display: flex;
color: #7dc0ff;
list-style: none;
padding-left: 0;
}

.nav_icons li {
padding: 8px 5px;
}

.navbar .search {
position: absolute;
display: inline-block;
left: 50%;
transform: translateX(-56%);
margin-left: 100px;

}

.search input {
width: 700px;
border: 3px solid #566270;
border-radius: 8px;
padding: 10px 12px;
font-size: 14px;
}

.search {
display: inline;
left: 400px;
width: 800px;
top: 50px;
}

input {
width: 100%;
border: 1px solid #bbb;
border-radius: 8px;
padding: 10px 12px;
font-size: 14px;
}

.search button {
position: relative;
background-color: white;
cursor: pointer; /* 커서를 포인터로 변경 */
border-radius: 8px;
right: 50px;
margin: 0;
}

.accounts-nav{
  width: 100%; 
  display: inline-block;
  z-index: 9999;
  background-color: var(--background-color);
  text-align: center;
  padding-top: 80px;
}
.accounts-logo{
  text-decoration-line: none;
  color: var(--text-color);
}
.accounts-logo:hover{
  color: var(--accent-color);
}
/*모달창 버튼 나중에 클래스 변경해야 함*/
button {
  border: 0;
  background-color: none;
}
.btn-box .btn-open {
    display: block;
    width: 200px;
    height: 50px;
    margin: 80px auto 0;
    line-height: 50px;
    background: #333;
    text-align: center;
}

.btn-box .btn-open span {
    color: #fff;
}

/* 팝업 스타일 */
.modal-bg {
  display:none;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  background: rgba(0, 0, 0, 0.6);
  z-index:999;
  border-radius: 10px;
}

.modal-wrap {
  display:none;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:700px;
  height:500px;
  background:#fff;
  z-index:1000;
  height: 50vh; 
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px 20px 20px 20px;
  border-radius: 10px;
}

.M01{
  padding: 10px;
}

.M01 a{
  text-decoration: none;
  color: var(--text-color);
}

.M01:hover,
.M01:hover a {
  background-color: #ADBCA5;
  color: #514444;
}

#nav-hamburger div{
  transition: all 1.4s;
}

#nav-hamburger div:hover:after {
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}
