<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Loading...</title>


 <style>
  /* 스타일은 필요에 따라 수정할 수 있습니다. */
  .loading-container {
    height: 100vh; /* 뷰포트 높이를 기준으로 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading-image {
    width: 100px; /* 이미지의 크기를 조정할 수 있습니다. */
    height: auto;
  }
</style> 
<!--이미지의 크기를 조정할 수 있습니다.-->
</head>
<body style="height: 100%;">
  <div class="loading-container">
    <img id="loadingImg" src="{% static 'img/aaa.gif' %}" alt="Loading..." class="loading-image">
  </div>

   
   <script src="{% static 'js/search.js' %}"></script>

</body>
</html>
