<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agreement</title>
</head>
<body>
    <h1>Agreement</h1>
    <form method="post">
        {% csrf_token %}
        <label>
            <input type="checkbox" name="agreement1" required> Agreement 1
        </label>
        <label>
            <input type="checkbox" name="agreement2" required> Agreement 2
        </label>
        <input type="submit" name="signup" value="signup">
    </form>
</body>
</html>