{% extends 'base.html' %} {% block title %} 로그인 {% endblock %}
<br />
{% block content %}
<br />
<h2>로그인</h2>
<form method="post" action="{% url 'login' %}">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit" class="btn btn-primary btn-lg" style="display:inline-block; margin: 10px;">로그인하기</button>
</form>
<a href="{% url 'recovery_pw' %}"><button type="button" class="btn btn-secondary btn-sm" style="display:inline-block; margin: 10px">비밀번호 찾기</button></a>

{% block kakao %}
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.6.0/kakao.min.js" integrity="sha384-6MFdIr0zOira1CHQkedUqJVql0YtcZA1P0nbPrQYJXVJZUkTk/oX4U9GhUIs3/z8" crossorigin="anonymous"></script>
<script>
    Kakao.init('15cc03417d4672c176798129ce5e78e8');
    Kakao.isInitialized();
    console.log(Kakao.isInitialized());
</script>

<a id="kakao-login-btn" href="javascript:loginWithKakao()">
    <img src="https://k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg" width="222"
      alt="카카오 로그인 버튼" />
  </a>
  <p id="token-result"></p>
  
  <script>
    function loginWithKakao() {
      Kakao.Auth.authorize({
        redirect_uri: {redirect_uri},
      });
    }
  
    displayToken()
    function displayToken() {
      var token = getCookie('authorize-access-token');
  
      if(token) {
        Kakao.Auth.setAccessToken(token);
        Kakao.Auth.getStatusInfo()
          .then(function(res) {
            if (res.status === 'connected') {
              document.getElementById('token-result').innerText
                = 'login success, token: ' + Kakao.Auth.getAccessToken();
            }
          })
          .catch(function(err) {
            Kakao.Auth.setAccessToken(null);
          });
      }
    }
  
    function getCookie(name) {
      var parts = document.cookie.split(name + '=');
      if (parts.length === 2) { return parts[1].split(';')[0]; }
    }
    $.ajax({
      type : "POST"
      , url : 'https://kauth.kakao.com/oauth/token'
      , data : {
          grant_type : 'authorization_code',
          client_id : {client_id},
          redirect_uri : {redirect_uri},
          code : {authorize_code}
      }
      , contentType:'application/x-www-form-urlencoded;charset=utf-8'
      , dataType: null
      , success : function(response) {
          Kakao.Auth.setAccessToken(response.access_token);
          document.querySelector('button.api-btn').style.visibility = 'visible';
      }
      ,error : function(jqXHR, error) {
  
      }
  });
  </script>
{% endblock %}
{% endblock %}

